@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-color: rgba(175, 235, 235, 0.822);
}

#cont2 {
    background-color: rgba(89, 39, 206, 0.527);
}

* {box-sizing: border-box;}

.navbar-dark {
    overflow: hidden;
    background-color: #2b0350a8;
}

/*body*/
#cont1{
    margin-top: 5rem;
    background-image: url('./assets/images/img.jpg');
}
p {
    text-indent: 2rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.btn{
    margin-top: 30px;
    background-color: #055f6b;
}

.seeMorebtn{
    text-align: center;
}
.display{
    float: left;
    margin-bottom: 0.3rem;
}

/*user form*/
.search-form p {
    font-size: 30px;
    margin: 0;
    justify-content: left;
    align-items: left;
}
.my-repos p {
    text-indent: 3rem;
    text-align: left;
}
.desc{
    text-align: left;
}

a:hover {
    text-decoration: none;
}
p {
    text-indent: 2rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.col-md-12 {
    text-align: center;
}


/* profile*/
img {
    max-width: 60%;
    border-radius: 600px;
}
.image-right {
    padding-top: 8rem;
    text-align: center;
}